<form class="w-100">
  <!-- Search -->
  <div class="mb-3">
    <label for="serarch-in" class="visually-hidden">{{'activity.search' | translate}}</label>
    <input type="password" class="form-control w-100" id="serarch-in"
           placeholder="{{'filters.search' | translate}}">
  </div>
  <!-- Categories -->
  <ul class="list-group mb-3">
    <li class="list-group-item list-group-item-primary">{{'activity.categories' | translate}}:</li>
    <li class="list-group-item" *ngFor="let category of categories$ | async">
      <input class="form-check-input me-1" type="checkbox" value="{{category.id}}"
             id="category-check{{category.id}}" autocomplete="off">
      <label class="form-check-label" for="category-check{{category.id}}">{{category.name}}</label>
    </li>
  </ul>
  <!-- Minutes required -->
  <div class="input-group mb-3">
    <select class="form-select" aria-label=".form-select-sm example">
      <option selected value="lt">{{'filters.lessThan' | translate}}</option>
      <option value="gt">{{'filters.greaterThan' | translate}}</option>
    </select>
    <input type="text" class="form-control" aria-label="Minutes required"
           placeholder="{{'activity.minutes' | translate}}">
  </div>
  <button class="btn btn-primary w-100">{{'filters.search' | translate}}</button>
</form>
