<div class="container-md">
  <div class="container">
    <app-user-card *ngIf="user$ | async as user" [user]="user"></app-user-card>
  </div>
  <h5 class="mx-3 mt-3 mb-2">{{'user.createdActivities' | translate}}</h5>
  <div class="container">
    <app-activities [activities]="activities$ | async"></app-activities>
  </div>
  <div class="container-fluid d-flex justify-content-center">
    <app-pagination [pageCount]="pageCount" (pageChange)="handlePageChange($event)"></app-pagination>
  </div>
  <br>
</div>
