<div class="card">
  <div class="row card-body">
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="ratio ratio-1x1 rounded-circle overflow-hidden">
        <img [src]="getAvatarUrl(user)" alt="avatar" class="img-cover">
      </div>
      <div *ngIf="!isLoggedUser() && !isFollowedByLoggedUser">
        <button type="button" class="btn btn-primary col-12 mt-2" (click)="handleFollowClick()">
          {{'user.follow' | translate}}
        </button>
      </div>
      <div *ngIf="!isLoggedUser() && isFollowedByLoggedUser">
        <button type="button" class="btn btn-danger col-12 mt-2" (click)="handleUnfollowClick()">
          {{'user.unfollow' | translate}}
        </button>
      </div>
    </div>
    <div class="col">
      <div>
        <div class="row">
          <h5 class="my-1">
            <a routerLink="/users/{{user.id}}" class="link-dark">
              {{user.name}}<span *ngIf="user.surname"> {{user.surname}}</span>
            </a>
          </h5>
        </div>
        <hr>
        <div class="row">
          <a routerLink="/users/{{user.id}}/activities" class="card-link text-decoration-none">
            {{'user.activities' | translate}}: {{userActivityCount$ | async}}
          </a>
        </div>
        <hr>
        <div class="row">
          <a routerLink="/users/{{user.id}}/created-activities" class="card-link text-decoration-none">
            {{'user.createdActivities' | translate}}: {{createdActivitiesCount$ | async}}
          </a>
        </div>
        <hr>
        <div class="row">
          <a routerLink="/users/{{user.id}}/followers" class="card-link text-decoration-none">
            {{'user.followers' | translate}}: {{followersCount$ | async}}
          </a>
        </div>
        <hr>
        <div class="row">
          <a routerLink="/users/{{user.id}}/followings" class="card-link text-decoration-none">
            {{'user.follows' | translate }}: {{followingsCount}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
