<header>
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container-fluid">
      <a routerLink="home" class="navbar-brand">Self-im-social</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto my-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="/home" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
               aria-current="page">
              {{'nav.home' | translate}}
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/activities" routerLinkActive="active" class="nav-link"
               aria-current="page">{{'nav.activities-page' | translate}}</a>
          </li>
          <li class="nav-item">
            <a routerLink="/users" class="nav-link" routerLinkActive="active" aria-current="page">{{'nav.users' | translate}}</a>
          </li>
          <li *ngIf="isLoggedIn;else login_menu" class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" routerLinkActive="active" id="navbarDropdown" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              {{'user' | translate}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a routerLink="" class="dropdown-item" (click)="onLogOutClick()">{{'nav.logOut' | translate}}</a></li>
            </ul>
          </li>
          <ng-template #login_menu>
            <li class="nav-item">
              <a routerLink="/login" routerLinkActive="active" class="nav-link" aria-current="page">
                {{'nav.logIn' | translate}}
              </a>
            </li>
          </ng-template>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <form action=""></form>
        <div class="mx-lg-2 mt-lg-0 mt-2">
          <app-language-select></app-language-select>
        </div>
      </div>
    </div>
  </nav>
</header>
