<div id="divChart">
  <div class="m-0 p-3 shadow">
    <h5 class="pb-2">{{'statistics.activityCompletionsPerCategory' | translate}}</h5>
    <div class="row justify-content-around align-items-center">
      <div class="col-lg-5 col-md-6">
        <canvas id="categories-completions-count-bars"></canvas>
      </div>
      <div class="col-lg-5 col-md-6">
        <canvas id="categories-completions-count-pie"></canvas>
      </div>
    </div>
  </div>
  <br>
  <div class="container-fluid m-0 p-3 shadow">
    <div class="row justify-content-center">
      <h5 class="pb-2">{{'statistics.activityCompletions' | translate}}</h5>
      <div class="col-md-6">
        <canvas id="activities-completions-count-bars"></canvas>
      </div>
    </div>
  </div>
</div>
